APP_NAME=WestprogTicket
APP_ENV=production
APP_KEY=base64:U8q3pEO4c0ATa2rg6RaKysaTjHLlkxAoV3tU2O4wskI=
APP_DEBUG=true
APP_URL=https://tiket-westprog-production.up.railway.app

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DATABASE_URL=postgresql://postgres:NjjPnTHpIweJbasWjOeCMoRKneOBayHr@postgres.railway.internal:5432/railway
DB_HOST=postgres.railway.internal
DB_PORT=5432
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=NjjPnTHpIweJbasWjOeCMoRKneOBayHr

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=5
